<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<body>

<head>
<title>Website</title>
   <link rel="stylesheet" href="style.css">
  <meta charset="UTF-8">
</head>
<body>

<h1>THE BEST IN TOWN</h1>
<p>"At The Best In Town, we know the value of the dining experience.
We want our customers to be satisfied to the fullest".</p>

<div class="page-container">
<!--    <img class="HomepageImage">-->
    <img class="home-image" src="images/food.jpeg"
     alt="home-image">

<div class="sidebar">
    <a href="login.html" class="active-page">Home</a>
    <a href="dining.html">Choose Your Dining</a>
    <a href="map.html">Map View</a>
    <a href="star.html">Star Ranking</a>
    <a href="rank.html">Rank Your Experience</a>
</div>

     <form class="home-form">
         <!-- Headings for the form -->
         <div class="headingscontainer">
              <h3>Sign In</h3>
              <p>Sign in with your username and password</p>
         </div>
     
            <!--Main container for all the inputs -->
         <div class="MainContainer">
             <!-- Username -->
             <label for="Username">Username</label>
             <input type="text" placeholder="Enter Username" name="Username" id="username" required>
     
             <br><br>
     
             <!-- Password -->
             <label for="Password">Password</label>
             <input  type="Password" placeholder="Enter Password" name="Password" id="password" required>
     
             <br>
     
             <!-- Sub container for the checkbox and forgot password link -->
             <div class="subcontainer">
                 <label>
                     <input type="checkbox" checked="checked"  name="remember" > Remember me
                 </label>
                 <p class="forgotpassword"> <a href="#"> Forgot Password?</a> </p>
             </div>
     
             <!-- Submit Button -->
             <button onclick="doLogin(event)">Login</button>
     
             <!-- Sign up Link -->
             <p class="Register"> Not a member? <a href="signup.html"> Register Here!</a></p>
     
         </div>
     
     </form>
<!--Quotes-->
<blockquote class="wp-block-quote wp-block-quote-1"><p>The best food recommendation app of 2022</p><cite>Israel Foodie Magazine</cite></blockquote>
<blockquote class="wp-block-quote wp-block-quote-2"><p> Its so Easy to use, even my grandma uses this app when she wants to find the best pizza</p><cite>Timeout Tel Aviv</cite></blockquote>
    
</div>
<div class="footer">
<p>Contact Us. Email: thebestintown@gmail.com . Facebook: The Best In Town . Phone: 097968630 </p>
</div>

<script src="scripts/login.js"></script>

</body>
</html>