<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map</title>
     <link rel="stylesheet" href="style.css">

     <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyk6v-3Lqx7qfcxUNpH6Cwflik_ktbwSo&callback=initMap">
</script>

</head>
<body>
  
     <h1>MAP VIEW</h1>

     <div class="map-container page-container">

          <div class="sidebar">
              <a href="login.html">Home</a>
              <a href="dining.html">Choose Your Dining</a>
              <a href="map.html" class="active-page">Map View</a>
              <a href="star.html">Star Ranking</a>
              <a href="rank.html">Rank Your Experience</a>
          </div>
          
               <div id="map"></div>
          
          <div class="footer">
          <p>Contact Us. Email: thebestintown@gmail.com . Facebook: The Best In Town . Phone: 097968630 </p>
          </div>

     </div>

     <script src="scripts/map.js"></script>

</body>
</html>